// colors

$green: #34cb66;
$white: #fff;
$blue-gray: #dbdce0;
$iron: #d1d1d4;
$white-smoke: #f6f6f7;
$bright-grey: #4e5058;

// fonts
    
$montserrat-sans: 'Montserrat', sans-serif;

// font-weight 

$medium-weight:   500;
$semibold-weight: 600;
$xbold-weight:    800;


