<!-- begin category_sections -->
<div class="category-sections">
    <div class="container">
            <div class="category-sections-about">
                <div class="category-projects">
                    
                    <h5>Категорії проектів</h5>
                </div>
                <div class="about-work">
                    <span> Розмістіть проект або знайдіть роботу вибравши категорії діяльності</span>
                    <a class="all-category" href="#">Всі категорії</a>
                </div>
            </div>
            <!-- begin logo_grid_container -->
            <div class='row logo-grid-container'>
                    <div class="logo-grid-item" >
                        <a href="#">
                            <img src="/img/magament.png"/>
                            <span>Менеджмент</span>
                        </a>
                    </div>
                    <div class='logo-grid-item'>
                        <a href="#">
                            <img src='../img/programming.png'/> 
                            <span>Программирование</span>
                        </a>
                    </div>
                    <div class='logo-grid-item'>
                        <a href="#">
                            <img src='img/web.png'/>
                            <span>Разработка сайтов</span>
                        </a>
                    </div>
                    <div class='logo-grid-item'>
                        <a href="#">
                            <img src='img/design.png'/>
                            <span>Дизайн и Арт</span>
                        </a>
                    </div>
                    <div class='logo-grid-item'>
                        <a href="#">
                            <img src='img/seo.png'/>
                            <span>Оптимизация (SEO)</span>
                        </a>
                    </div> 
                    <div class='logo-grid-item'>
                        <a href="#">
                            <img src='img/texts.png'/>
                            <span>Тексты</span>
                        </a>
                    </div>
                    <div class='logo-grid-item'>
                        <a href="#">
                            <img src='img/promotion.png'/>
                            <span>Реклама и Маркетинг</span>
                        </a>
                    </div>
                    <div class='logo-grid-item'>
                        <a href="#">
                            <img src='img/translate.png'/>
                            <span>Переводы</span>
                        </a>
                    </div>
                    <div class='logo-grid-item'>
                        <a href="#">
                            <img src='img/3D.png'/>
                            <span>3D  графика</span>
                        </a>
                    </div>
                    <div class='logo-grid-item'>
                        <a href="#">
                            <img src='img/architect.png'/>
                            <span>Архитектура Интерьер</span>
                        </a>
                    </div>
                    <div class='logo-grid-item'>
                        <a href="#">
                            <img src='img/video_music.png'/>
                            <span>Аудио/Видео</span>
                        </a>
                    </div>
                    <div class='logo-grid-item'>
                        <a href="#">
                            <img src='img/games.png'/>
                            <span>Разработка игр</span>
                        </a>
                    </div>
        <!-- end logo_grid_container -->
            </div>
    </div>
    </div>
<!-- end category_sections -->