<!-- begin about_section -->


<div class="about-section">
    <div class="add-project-section">
        <!-- <img src="../img/shape_header.png"> -->
        <div class="line_shape">
            <img src='/img/shape.png'>
        </div>
        <h4>Як це працює</h4>
        <p>Виконати ваше замовлення на біржі Фріланс Україна -<br> це дуже просто! Всього 3 кроки для того щоб ви<br>
            досягнули поставленої мети:</p>
        <div class="step-section">
            <div class="step-first">
                <img src="img/step1.png">
                <div class="step-first-info">
                    <span>1. </span>
                    <p>Опублікуйте проект на вашому сайті </p>
                </div>
            </div>
            <div class="step-two">
                <img src="img/step2.png">
                <div class="step-first-info">
                    <span>2. </span>
                    <p>Оберіть виконавця із пропозицій фрілансерів </p>
                </div>
            </div>
            <div class="step-three">
                <img src="img/step3.png">
                <div class="step-first-info">
                    <span>3. </span>
                    <p>Отримайте результат і оплатіть роботу </p>
                </div>
            </div>
        </div>
        <div class="multiple-button-section">
            <a href="#" class="button-add-project button-for-registration">
                + Додати проект
            </a>
            <a href="#" class="button-for-registration">
                Зареєструватися
            </a>
        </div>
    </div>
    <div class="video-section">
        <img src="../img/girl5.png">
        <div class="play-logo">
            <img src="img/play_vector.png">
        </div>
    </div>
</div>
<!-- end about_section -->

<!-- begin ready_to_work_freelancer -->
<div class="ready-to-work-freelancer">
    <div class="bg-block">
        <div class="container">
        <div class="freelance-info-section">
            <div class="category-freelance">
                <h6>Готові працювати</h6>
                <div class="about-work-freelance">
                    <span> Знайдіть виконавця серед фрілансерів, які вже готові працювати</span>
                    <a class="all-work-freelance" href="#">Всі фрілансери</a>
                </div>
            </div>
            <div class="freelance-items-block">
                <div class="row">
                    <div class='col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item'>
                        <div class="freelance-grid-item">
                            <div class="about-profile">
                                <div class="user-section">
                                    <a class="logo-star" href="#">
                                        <img src="../img/star.png">
                                    </a>
                                    <span class="logo-portrait">
                                        <span class="circle"></span>
                                        <img src='img/man1.png' />
                                    </span>
                                    <span class="logo-mail"><img src='img/mail.png' /></span>
                                </div>
                                <div class="reputation">
                                    <span class="positive">+2</span>
                                    <span class="negative">-2</span>
                                </div>
                                <a class="user-name" href="#">Владимир Косма</a>
                                <p>Менеджер проектов/ Заказчик</p>
                            </div>
                            <p class="about-frelance">
                                Аэросъёмка профессионалного уровня по доступной цене. Работаю на Dji Phantom 4 PRO. Снимаю в 4k
                            </p>
                            <div class="skills-list">
                                <span class="php-skill">PHP</span>
                                <span class="laravel-skill">Laravel</span>
                                <span class="ux-skill">UX</span>
                                <a class="calculation-skill" href="#">+ 3</a>
                            </div>
                            <div class="opacity-section">
                                <a class="write-to-freelancer" href="#">
                                    <i class="far fa-envelope "></i>Написати
                                </a>
                                <a class="offer-job" href="#">Запропонувати роботу</a>
                            </div>
                    </div>
                </div>
                    <div class='col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item'>
                        <div class="freelance-grid-item">
                        <div class="about-profile">
                            <div class="user-section">
                                <a class="logo-star" href="#">
                                    <img src="../img/star.png">
                                </a>
                                <span class="logo-portrait">
                                    <span class="circle"></span>
                                    <img src='img/man1.png' />
                                </span>
                                <span class="logo-mail"><img src='img/mail.png' /></span>
                            </div>
                            <div class="reputation">
                                <span class="positive">+11</span>
                                <span class="negative">-87</span>
                            </div>
                            <a class="user-name" href="#">Максим Недзельський</a>
                            <p>Менеджер проектов/ Заказчик</p>
                        </div>
                        <p class="about-frelance">
                            Аэросъёмка профессионалного уровня по доступной цене. Работаю на Dji Phantom 4 PRO. Снимаю в 4k
                        </p>
                        <div class="skills-list">
                            <span class="php-skill">PHP</span>
                            <span class="laravel-skill">Laravel</span>
                            <span class="ux-skill">UX</span>
                            <a class="calculation-skill" href="#">+ 4</a>
                        </div>
                        <div class="opacity-section">
                            <a class="write-to-freelancer" href="#">
                                <i class="far fa-envelope "></i>Написати
                            </a>
                            <a class="offer-job" href="#">Запропонувати роботу</a>
                        </div>
                    </div>
                </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item">
                        <div class="freelance-grid-item">
                        <div class="about-profile">
                            <div class="user-section">
                                <a class="logo-star" href="#">
                                    <img src="../img/star.png">
                                </a>
                                <span class="logo-portrait">
                                    <span class="circle"></span>
                                    <img src='img/girl2.png' />
                                </span>
                                <span class="logo-mail"><img src='img/mail.png' /></span>
                            </div>
                            <div class="reputation">
                                <span class="positive">+22</span>
                                <span class="negative">-7</span>
                            </div>
                            <a class="user-name" href="#">Ангеліна Маркес</a>
                            <p>Дизайн сайтов</p>
                        </div>
                        <p class="about-frelance">
                            Аэросъёмка профессионалного уровня по доступной цене. Работаю на Dji Phantom 4 PRO. Снимаю в 4k
                        </p>
                        <div class="skills-list">
                            <span class="php-skill">PHP</span>
                            <span class="laravel-skill">Laravel</span>
                            <span class="ux-skill">UX</span>
                            <a class="calculation-skill" href="#">+ 17</a>
                        </div>
                        <div class="opacity-section">
                            <a class="write-to-freelancer" href="#">
                                <i class="far fa-envelope "></i>Написати
                            </a>
                            <a class="offer-job" href="#">Запропонувати роботу</a>
                        </div>
                    </div>
                </div>
                    <div class='col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item'>
                        <div class="freelance-grid-item">
                        <div class="about-profile">
                            <div class="user-section">
                                <a class="logo-star" href="#">
                                    <img src="../img/star.png">
                                </a>
                                <span class="logo-portrait">
                                    <span class="circle"></span>
                                    <img src='img/girl2.png' />
                                </span>
                                <span class="logo-mail"><img src='img/mail.png' /></span>
                            </div>
                            <div class="reputation">
                                <span class="positive">+0</span>
                                <span class="negative">-12</span>
                            </div>
                            <a class="user-name" href="#">Марго Іванова</a>
                            <p>Дизайн сайтов</p>
                        </div>
                        <p class="about-frelance">
                            Аэросъёмка профессионалного уровня по доступной цене. Работаю на Dji Phantom 4 PRO. Снимаю в 4k
                        </p>
                        <div class="skills-list">
                            <span class="php-skill">PHP</span>
                            <span class="laravel-skill">Laravel</span>
                            <span class="ux-skill">UX</span>
                            <a class="calculation-skill" href="#">+ 3</a>
                        </div>
                        <div class="opacity-section">
                            <a class="write-to-freelancer" href="#">
                                <i class="far fa-envelope "></i>Написати
                            </a>
                            <a class="offer-job" href="#">Запропонувати роботу</a>
                        </div>
                    </div>
                </div>
                    <div class='col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item'>
                        <div class=" freelance-grid-item">
                    <div class="about-profile">
                            <div class="user-section">
                                <a class="logo-star" href="#">
                                    <img src="../img/star.png">
                                </a>
                                <span class="logo-portrait">
                                    <span class="circle"></span>
                                    <img src='img/girl2.png' />
                                </span>
                                <span class="logo-mail"><img src='img/mail.png' /></span>
                            </div>
                            <div class="reputation">
                                <span class="positive">+10</span>
                                <span class="negative">-11</span>
                            </div>
                            <a class="user-name" href="#">Владимир Косма</a>
                            <p>Менеджер проектов/ Заказчик</p>
                        </div>
                        <p class="about-frelance">
                            Аэросъёмка профессионалного уровня по доступной цене. Работаю на Dji Phantom 4 PRO. Снимаю в 4k
                        </p>
                        <div class="skills-list">
                            <span class="php-skill">PHP</span>
                            <span class="laravel-skill">Laravel</span>
                            <span class="ux-skill">UX</span>
                            <a class="calculation-skill" href="#">+ 3</a>
                        </div>
                        <div class="opacity-section">
                            <a class="write-to-freelancer" href="#">
                                <i class="far fa-envelope "></i>Написати
                            </a>
                            <a class="offer-job" href="#">Запропонувати роботу</a>
                        </div>
                    </div>
                </div>
                    <div class='col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item'>
                        <div class="freelance-grid-item">
                    <div class="about-profile">
                            <div class="user-section">
                                <a class="logo-star" href="#">
                                    <img src="../img/star.png">
                                </a>
                                <span class="logo-portrait">
                                    <span class="circle"></span>
                                    <img src='img/girl6.png' />
                                </span>
                                <span class="logo-mail"><img src='img/mail.png' /></span>
                            </div>
                            <div class="reputation">
                                <span class="positive">+2</span>
                                <span class="negative">-8</span>
                            </div>
                            <a class="user-name" href="#">Владимир Косма</a>
                            <p>Менеджер проектов/ Заказчик</p>
                        </div>
                        <p class="about-frelance">
                            Аэросъёмка профессионалного уровня по доступной цене. Работаю на Dji Phantom 4 PRO. Снимаю в 4k
                        </p>
                        <div class="skills-list">
                            <span class="php-skill">PHP</span>
                            <span class="laravel-skill">Laravel</span>
                            <span class="ux-skill">UX</span>
                            <a class="calculation-skill" href="#">+ 3</a>
                        </div>
                        <div class="opacity-section">
                            <a class="write-to-freelancer" href="#">
                                <i class="far fa-envelope "></i>Написати
                            </a>
                            <a class="offer-job" href="#">Запропонувати роботу</a>
                        </div>
                    </div>
                </div>
                    <div class='col-xl-3 col-lg-6 col-md-6 col-sm-6 grid-item'>
                        <div class="freelance-grid-item">
                        <div class="about-profile">
                            <div class="user-section">
                                <a class="logo-star" href="#">
                                    <img src="../img/star.png">
                                </a>
                                <span class="logo-portrait">
                                    <span class="circle"></span>
                                    <img src='img/girl6.png' />
                                </span>
                                <span class="logo-mail"><img src='img/mail.png' /></span>
                            </div>
                            <div class="reputation">
                                <span class="positive">+10</span>
                                <span class="negative">-14</span>
                            </div>
                            <a class="user-name" href="#">Владимир Косма</a>
                            <p>Менеджер проектов/ Заказчик</p>
                        </div>
                        <p class="about-frelance">
                            Аэросъёмка профессионалного уровня по доступной цене. Работаю на Dji Phantom 4 PRO. Снимаю в 4k
                        </p>
                        <div class="skills-list">
                            <span class="php-skill">PHP</span>
                            <span class="laravel-skill">Laravel</span>
                            <span class="ux-skill">UX</span>
                            <a class="calculation-skill" href="#">+ 3</a>
                        </div>
                        <div class="opacity-section">
                            <a class="write-to-freelancer" href="#">
                                <i class="far fa-envelope "></i>Написати
                            </a>
                            <a class="offer-job" href="#">Запропонувати роботу</a>
                        </div>
                    </div>
                </div>
                    <div class='col-xl-3 col-lg-6 col-md-6 col-sm-6 grid-item'>
                        <div class="freelance-grid-item">
                    <div class="about-profile">
                            <div class="user-section">
                                <a class="logo-star" href="#">
                                    <img src="../img/star.png">
                                </a>
                                <span class="logo-portrait">
                                    <span class="circle"></span>
                                    <img src='img/man4.png' />
                                </span>
                                <span class="logo-mail"><img src='img/mail.png' /></span>
                            </div>
                            <div class="reputation">
                                    <span class="positive">+0</span>
                                    <span class="negative">-0</span>
                            </div>
                            <a class="user-name" href="#">Владимир Косма</a>
                            <p>Менеджер проектов/ Заказчик</p>
                        </div>
                        <p class="about-frelance">
                            Аэросъёмка профессионалного уровня по доступной цене. Работаю на Dji Phantom 4 PRO. Снимаю в 4k
                        </p>
                        <div class="skills-list">
                            <span class="php-skill">PHP</span>
                            <span class="laravel-skill">Laravel</span>
                            <span class="ux-skill">UX</span>
                            <a class="calculation-skill" href="#">+ 3</a>
                        </div>
                        <div class="opacity-section">
                            <a class="write-to-freelancer" href="#">
                                <i class="far fa-envelope "></i>Написати
                            </a>
                            <a class="offer-job" href="#">Запропонувати роботу</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- end ready_to_work_freelancer -->

<!-- begin newest_projects -->
<div class="newest-projects">
    <div class="container">
        <div class="category-about-project">
            <div class="about-project">
                <h3>Найновіші проекти</h3>
            </div>
            <div class="view-new-project">
                <span> Перегляньте найновіші пропозиції від замовників</span>
                <span class="all-project">Всі проекти</span>
            </div>
        </div>
        <div class="row vacancy-section">
            <div class="col-xl-6 col-lg-6 col-md-6 vacancy">
                <div class="vacancy-item active">
                <div class="vacancy-block-info">
                    <span class="online-mode">
                        <img src="img/online_logo.png">
                    </span>
                    <span class="logo-portrait"><img src='img/girl7.png' /></span>
                    <div class="reputation-section">
                        <span class="positive">+0</span>
                        <span class="negative">-0</span>
                    </div>
                </div>
                <div class="vacancy-block-about">
                    <a class="offers-from-customers-item" href="#">Junior UI/UX designer (Стажер)</a>
                    <a class="catalog" href="#" >Разработка сайтов / Дизайн інтерфейсов</a>
                    <a class="description" href="#">
                        
                            Нужен специалист по разработке интерфейсов и мобильніх приложений. На начальном етапе ми готови
                            тратить время на обучение и стажировку дизайнера.
                        
                    </a>
                    <div class="last-notifications">
                        <div class="last-activity">
                            <img src="img/time_logo.png">
                            <b>1</b>
                            <span>день назад </span>
                            <span class="reputation-freelancer">
                                <img src="img/reply_logo.png">
                                <a class="answer" href="#">5 ответов</a>
                            </span>
                        </div>
                        <div class="price">
                            <span>$450</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-xl-6 col-lg-6 col-md-6 vacancy">
                <div class="vacancy-item ">
                <div class="vacancy-block-info">
                    <span class="online-mode">
                        <img src="img/online_logo.png">
                    </span>
                    <span class="logo-portrait"><img src='img/girl7.png' /></span>
                    <div class="reputation-section">
                        <span class="positive">+0</span>
                        <span class="negative">-0</span>
                    </div>
                </div>
                <div class="vacancy-block-about">
                    <a class="offers-from-customers-item" href="#">Junior UI/UX designer (Стажер)</a>
                    <a class="catalog" href="#" >Разработка сайтов / Дизайн інтерфейсов</a>
                    <a class="description" href="#">
                        
                            Нужен специалист по разработке интерфейсов и мобильніх приложений. На начальном етапе ми готови
                            тратить время на обучение и стажировку дизайнера.
                        
                    </a>
                    <div class="last-notifications">
                        <div class="last-activity">
                            <img src="img/time_logo.png">
                            <b>1</b>
                            <span>день назад </span>
                            <span class="reputation-freelancer">
                                <img src="img/reply_logo.png">
                                <a class="answer" href="#">5 ответов</a>
                            </span>
                        </div>
                        <div class="price">
                            <span>$450</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-xl-6 col-lg-6 col-md-6 vacancy">
                <div class="vacancy-item">
                <div class="vacancy-block-info">
                    <span class="online-mode">
                        <img src="img/online_logo.png">
                    </span>
                    <span class="logo-portrait"><img src='img/girl7.png' /></span>
                    <div class="reputation-section">
                        <span class="positive">+0</span>
                        <span class="negative">-0</span>
                    </div>
                </div>
                <div class="vacancy-block-about">
                    <a class="offers-from-customers-item" href="#">Junior UI/UX designer (Стажер)</a>
                    <a class="catalog" href="#" >Разработка сайтов / Дизайн інтерфейсов</a>
                    <a class="description" href="#">
                        
                            Нужен специалист по разработке интерфейсов и мобильніх приложений. На начальном етапе ми готови
                            тратить время на обучение и стажировку дизайнера.
                        
                    </a>
                    <div class="last-notifications">
                        <div class="last-activity">
                            <img src="img/time_logo.png">
                            <b>1</b>
                            <span>день назад </span>
                            <span class="reputation-freelancer">
                                <img src="img/reply_logo.png">
                                <a class="answer" href="#">5 ответов</a>
                            </span>
                        </div>
                        <div class="price">
                            <span>$450</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-xl-6 col-lg-6 col-md-6 vacancy">
                <div class="vacancy-item">
                <div class="vacancy-block-info">
                    <span class="online-mode">
                        <img src="img/online_logo.png">
                    </span>
                    <span class="logo-portrait"><img src='img/girl7.png' /></span>
                    <div class="reputation-section">
                        <span class="positive">+0</span>
                        <span class="negative">-0</span>
                    </div>
                </div>
                <div class="vacancy-block-about">
                    <a class="offers-from-customers-item" href="#">Junior UI/UX designer(стажер)</a>
                    <a class="catalog" href="#" >Разработка сайтов / Дизайн інтерфейсов</a>
                    <a class="description" href="#">
                        
                            Нужен специалист по разработке интерфейсов и мобильніх приложений. На начальном етапе ми готови
                            тратить время на обучение и стажировку дизайнера.
                        
                    </a>
                    <div class="last-notifications">
                        <div class="last-activity">
                            <img src="img/time_logo.png">
                            <b>1</b>
                            <span>день назад </span>
                            <span class="reputation-freelancer">
                                <img src="img/reply_logo.png">
                                <a class="answer" href="#">5 ответов</a>
                            </span>
                        </div>
                        <div class="price">
                            <span>$450</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="show-more">
            <span>Показати ще</span>
        </div>
        <div class="row freelance-info">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="freelance-description">
                    <span>Що таке Фріланс</span>
                    <p>В наше время, когда темп жизни уже давно обогнал все мыслимые и немыслимые величины, простому человеку
                        бывает очень тяжело найти свое первое место работы. Конкуренция заставляет работодателей делать выбор в
                        пользу более опытных кандидатов, в том числе и среди интернет предложений. Стремительное развитие
                        интернета привело к тому, что и работу люди начали искать в интернете, а газеты с объявлениями отошли в
                        далекое прошлое. </p>
                    <p>И так получается, что первые рабочие места молодые независимые специалисты стали находить с помощью
                        специализированных ресурсов (биржы удаленной работы), которые помогают работодателям найти исполнителей,
                        а исполнителям получить долгожданную работу в интернет. Благодаря тому что заказчик может сэкономить на
                        рабочем месте в офисе и заплатить только за качественно проделанную работу, рынок таких услуг стал
                        набирать обороты. Эти тенденции носят мировой масштаб, и наш рынок тоже не стал исключением. Такое
                        явление получило название Фриланс (удаленная работа), а исполнителей стали называть Фрилансерами ( от
                        англ. freelancer - вольный художник). На биржах фриланса можно найти множество вакансий для образованных
                        и профессионально подготовленных работников, которые могут, а главное хотят зарабатывать в интернете
                        сидя у себя дома.</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="what-we-do-sections">
                    <span>Що ми робимо</span>
                    <p>Суть фриланса в том, что работать можно в любой точке мира, независимо от того где находится заказчик.
                    Достаточно чтобы у вас под рукой был свой компьютер и желание трудиться (удаленная работа через
                    интернет). Задачу по сбору заказов берет на себя служба сайта Free-lance.ua. Вам для того, чтобы
                    посмотреть все вакансии, проекты или конкурсы достаточно зайти на главную страницу сайта Фриланс
                    Украина. Ну а заказчики смогут подыскать себе подходящую кандидатуру среди множества программистов,
                    дизайнеров, верстальщиков, копирайтеров, веб-разработчиков, СЕО оптимизаторов, переводчиков и других
                    профессионалов своих отраслей.</p>
                <p>Фриланс Украина, одна из ведущих бирж фрилансеров в Украине, старается идти в ногу со временем и
                    предоставляет вам самые современные возможности по поиску и предоставлению работы в интернет. Чтобы
                    получить доступ ко всем возможностям ресурса, вам достаточно пройти регистрацию на нашем сайте. Если вы
                    чувствуете в себе силы работать и покорять новые профессиональные вершины, тогда мы станем вашими
                    хорошими друзьями. Мы трудимся для тех, кто имеет желание работать на дому, и получать достойное
                    вознаграждение за это. Ведь работа в интернете может помочь развитию не только вашей карьеры, но и вашей
                    личности в целом. Работа фрилансером может качественно улучшить ваш профессиональный уровень и поднять
                    на новую высоту. Опыт, приобретенный в общении с множеством профессионально активных людей, поможет вам
                    не потерять себя в будущем</p>
                </div>
            </div>
            </div>
    </div>
</div>
<!-- end newest_projects -->

<!-- begin freelance_ukraine_container -->
<div class="freelance-ukraine-container">
    <div class="left-section-rectangle"></div>
    <div class="right-section-rectangle"></div>
    <div class="container">
        <div class="freelance-ukraine">
            <span>Фріланс Україна</span>
            <div class="registration-user">
                <a href="#" class="registration">Реєструватись</a>
            </div>
            <div class="all-freelance-users">
                <span class="now-users">Вже</span>
                <span class="number-of-users">62.093</span>
                <div class="performers">Виконавців</div>
            </div>
        </div>
        <div class="bg-ukraine">
        </div>
    </div>
</div>
<!-- end freelance_ukraine_container -->

<!-- begin popular_skills-->
<div class="popular-skills">
    <div class="container">
        <div class="popular-skills-title">
            <span>Популярні навики</span>
        </div>
        <div class="popular-skill-table">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="column1">
                    <a href="#" class="item">Adobe Photoshop</a>
                    <a href="#" class="item">Adobe Illustrator</a>
                    <a href="#" class="item">Javascript</a>
                    <a href="#" class="item">Wordpress</a>
                    <a href="#" class="item">Photoshop</a>
                    <a href="#" class="item">HTML</a>
                    <a href="#" class="item">CSS</a>
                    <a href="#" class="item">Графический дизайн</a>
                    <a href="#" class="item">php</a>
                    <a href="#" class="item">Дизайн логотипов</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 d-none d-sm-block">
                <div class="column1">
                    <a href="#" class="item">jQuery</a>
                    <a href="#" class="item">MySQL</a>
                    <a href="#" class="item">CorelDraw</a>
                    <a href="#" class="item">Верстка HTML и CSS</a>
                    <a href="#" class="item">Копирайтинг</a>
                    <a href="#" class="item">3ds Max</a>
                    <a href="#" class="item">Наполнение сайта</a>
                    <a href="#" class="item">3D моделирование</a>
                    <a href="#" class="item">css3</a>
                    <a href="#" class="item">Рерайтинг</a>
                </div>
            </div>
            <div class="col-xl-3 d-none d-xl-block">
            <div class="column2">
                <a href="#" class="item">3D</a>
                <a href="#" class="item">Оптимизация сайто(SEO)</a>
                <a href="#" class="item">Логотипи, Визитки, Баннери и т.п.</a>
                <a href="#" class="item">Google Adwords</a>
                <a href="#" class="item">рерайтинг, копирайтинг</a>
                <a href="#" class="item">дизайн сайтов</a>
                <a href="#" class="item">OpenCart</a>
                <a href="#" class="item">InDesign</a>
                <a href="#" class="item">html 5</a>
                <a href="#" class="item">Видео монтаж</a>
            </div>
        </div>
        <div class="col-xl-3 d-none d-xl-block">
            <div class="column2">
                <a href="#" class="item">Контекстная реклама</a>
                <a href="#" class="item">Java</a>
                <a href="#" class="item">переводчик с английского</a>
                <a href="#" class="item">hmtl5</a>
                <a href="#" class="item">SQL</a>
                <a href="#" class="item">AJAX</a>
                <a href="#" class="item">Реклама</a>
                <a href="#" class="item">статьи</a>
                <a href="#" class="item">Google Analytics</a>
                <a href="#" class="item">PHP5, MYSQL,HTML/CSS</a>
            </div>
        </div>
    </div>
</div>
</div>
<!--end popular_skills  -->

<div class="job-order-section">
    <div class="container">
        <div class="start-job-order">
            <div class="timer-logo">
                <img src="img/timer_logo.png">
            </div>
            <div class="order-for-work">
                <span>Розмістіть замовлення на роботу</span>
                <p class="step-for-start">Всього за декілька кроків</p>
            </div>
            <div class="to-start-button">
                <a href="#">Розпочати</a>
            </div>
        </div>  
    </div>
</div>