<footer>

    <!-- begin container_footer -->
<div class="container-footer">
    <div class="container">
    <div class="container-footer-section">
        <div class="row notifications">
                <div class="col-xl-3 col-lg-4 col-sm-12 logo-frelance-footer">
                        <div class="logo-freelance-ukraine logo">
                            <a class="logo" href="#">
                                <img src='/img/logo.png'>
                                <div class="header-logo-title">
                                    <p>Free.lance.ua</p>    
                                    <span>Фріланс Україна</span>
                                </div>
                            </a>
                        </div>
                        <div class="social-media">
                            <a href="#">
                                <img src="img/facebook_logo.png">
                            </a>
                            <a href="#">
                                <img src="img/vkontakte_logo.png">
                            </a>
                            <a href="#">
                                <img src="img/telegram_logo.png">
                            </a>
                            
                        </div>
                    </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 notificatons-on-the-site">
                <div class="title-on-the-site-footer">
                    <span>Работа на сайте</span>
                </div>
                <div class="settings">
                    <p><a href="#">Регистрация Фрилансеров</a></p>
                    <p><a href="#">Востановление пароля</a></p>
                    <p><a href="#">Види регистрации</a></p>
                    <p><a href="#">Поиск работи </a></p>
                </div>
            </div>
            <div class="col-xl-3 d-none d-xl-block settings two-column">
                    <p><a href="#">Поиск фрилансера</a></p>
                    <p><a href="#">Сервисы</a></p>
                    <p><a href="#">Свободные Фрилансеры</a></p>
                    <p><a href="#">Публикация проекта</a></p>
                </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 notificatons-on-the-site help">
                <div class="title-on-the-site-footer">
                    <span>Помощь</span>
                </div>
                <div class="settings">
                    <p><a href="#">Пользовательское соглашение</a></p>
                    <p><a href="#">Политика конфиденциальности</a></p>
                    <p><a href="#">Сообщить об ошибке</a></p>
                    <p><a href="#">Помощь по сайту </a></p>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-rights">
        <div class="copyright">
            <p>© 2019 Free-lance.ua - Всі права захищені</p>
        </div>
        <div class="about-footer">
            <a href="#" class="about-project-footer">О проекте</a>
            <a href="#" class="contact-footer">Контакти</a>
        </div>
    </div>
</div>
</div>
<!-- end container_footer -->
</footer>

</body>