
    <!-- begin container -->
        <div class="menu-bar">
        <div class="container">
            <nav>
                <a class="logo" href="#">
                    <img src='/img/logo.png'>
                    <div class="header-logo-title">
                        <p>Free.lance.ua</p>    
                        <span>Фріланс Україна</span>
                    </div>
                </a>
                <ul class="header-menu">
                    <li class="menu-item">
                        <a href="#nowhere">Фрілансери</a>
                        <a href="#nowhere">Робота</a>
                    </li>
                    <li class="navbar-rigth">
                        <a href="#nowhere">Реєстрація</a>
                        <a href="#nowhere">Вхід</a>
                        <a class="button-add-project" href="#"> + Додати проект</a>
                    </li>
                </ul>
            </nav>
            </div>
    </div>
    <!-- end container -->

    <!-- begin header_info_block -->
<div class="header-info-block">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 search-panel">
                <div class="search-section">
                    <img src='/img/shape.png'>
                    <h1>Знайдіть виконавців для своїх проектів онлайн</h1>
                    <div class="search-performer">
                        <input class="color-text" type="text" placeholder="Яку роботу потрібно зробити?">
                        <a class="button-place-search" href="#">Розмістити</a>
                    </div>
                </div> 
                    <div class="link-create-site">
                        <p>Наприклад: 
                            <a href="#">Створити сайт</a> 
                            або
                            <a href="#">
                            Намалювати дизайн
                            </a> додатку 
                        </p>
                    </div>
                <div class="freelance-quantity">
                    <a href="#" class="more-item">Більше</a>
                    <div class="freelance-item">60 000 <img src="img/arrow_logo.png"><span>фрілансерів</span></div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 d-none d-sm-none d-md-none d-lg-none d-xl-block opening-project">
                <div class="section-of-offers">
                    <div class="bg-iphone">
                        <span>Нові проекти</span>
                        <!-- <img src="img/iphone_green.png"> -->
                    </div>
                    <div class="offers">
                        <div class="designer-services">
                            <h2>Junior UI/UX designer(стажер)</h2>
                            <small>Разработка сайтов/дизайн интерфейсов</small>
                            <p>Нужен специалист по разработке интерфейсов и мобильних приложений.На начальном етапе ми готови тратить время на обучение и стажировку дизайнера</p>
                        </div> 
                        <div class="price-section  ">
                            <div class="active-time-vacancy">
                                <span class="time-logo"><img src="img/time_logo.png"></span>
                                <a class="time" href="#">
                                    <b>1</b>
                                    <span>дeнь назад</span>
                                </a>
                            </div>
                            <div class="all-answers">
                                <span class="reply-logo"><img src="img/reply_logo.png"></span>
                                <a class="answer" href="#">
                                    <b>15</b>
                                    <span>ответов</span>
                                </a>
                            </div>
                            <div class="price-of-work">
                                <span class="price">12000</span>
                            </div>
                        </div>
                    </div>
                    <div class="offers zoom-medium">
                        <div class="designer-services">
                            <h2>Продвижение Seo по поисковым запросам в Google</h2>
                            <small>Оптимизация СЕО / Продвижение сайтов</small>
                            <p>Необходимо продвижение сайта по продаже цветочнызх изделий на первые 2-3 страницы по поисковым запросам в Google Бюджет до</p>
                        </div> 
                        <div class="price-section medium">
                            <div class="active-time-vacancy">
                                <span class="time-logo"><img src="img/time_logo.png"></span>
                                <a class="time" href="#">
                                    <b>39</b>
                                    <span>мин</span>
                                </a>
                            </div>
                            <div class="all-answers">
                                <span class="reply-logo"><img src="img/reply_logo.png"></span>
                                
                                <a class="answer" href="#">
                                    <b>9</b>
                                    <span>ответов</span>
                                </a>
                            </div>
                            <div class="price-of-work">
                                <span class="price">$400</span>
                            </div>
                        </div>
                    </div>
                    <div class="offers zoom-small">
                        <div class="designer-services">
                            <h2>Сделать сайт-визитку на один экран</h2>
                            <small>Программирование / Веб-программирование</small>
                            <p>Нужно сверстать и запрограммировать сайт-визитку для предпринимателя. ТЗ и дизайн скину исполнителю. 
                                Оплата договорная</p>
                        </div> 
                        <div class="price-section small">
                            <div class="active-time-vacancy">
                                <span class="time-logo"><img src="img/time_logo.png"></span>
                                <a class="time" href="#">
                                    <b>2</b>
                                    <span>дня</span>
                                </a>
                            </div>
                            <div class="all-answers">
                                <span class="reply-logo"><img src="img/reply_logo.png"></span>
                                
                                <a class="answer" href="#">
                                    <b>15</b>
                                    <span>ответов</span>
                                </a>
                            </div>
                            <div class="price-of-work">
                                <span class="price">Договорная</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
<!-- end header_info_block -->